<div class="container jumbotron mt-5 jumbo">
  <div class="row justify-content-center">
    <h1>
      Articales
    </h1>
  </div>
  <div class="row justify-content-center">
    <p>Some Articles to read in your free time.</p>
  </div>
</div>
<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>
<%= render 'articles' , obj: @articles%>
<div class="flickr_pagination mb-5">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>
